n8n_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fakeshield-submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-website",
      "name": "Webhook — Website",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [2200, 1000],
      "webhookId": "02268fc7-c8ca-4b94-911a-b2d2c451e27f"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "documentId": {
          "__rl": true,
          "value": "158k89DoXZYSQ_prFjqFXZN7KzecqVQ-uWlOSBdvvAto",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Form responses 1",
          "mode": "list"
        },
        "options": {}
      },
      "id": "trigger-form",
      "name": "Trigger — New Form Submission",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [2200, 1200],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "Q0kwnCWrgmL95E2O", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "operation": "search",
        "documentId": {
          "__rl": true,
          "value": "158k89DoXZYSQ_prFjqFXZN7KzecqVQ-uWlOSBdvvAto",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Article and Analysis",
          "mode": "list"
        },
        "filtersUi": {
          "values": [
            {
              "columnName": "PREDICTED",
              "operator": "isEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-backlog",
      "name": "Manual — Fetch 100 Backlog Articles",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [2200, 1400],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "Q0kwnCWrgmL95E2O", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "158k89DoXZYSQ_prFjqFXZN7KzecqVQ-uWlOSBdvvAto",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Source Knowledge Map",
          "mode": "list"
        },
        "options": {}
      },
      "id": "fetch-kb",
      "name": "Knowledge Base",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [2600, 1200],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "Q0kwnCWrgmL95E2O", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {
        "jsCode": "// UNIVERSAL NORMALIZER\nconst formInput = $node[\"Trigger — New Form Submission\"]?.json || {};\nconst backlogInput = $node[\"Manual — Fetch 100 Backlog Articles\"]?.json || {};\nconst webInput = $node[\"Webhook — Website\"]?.json || {};\n\nconst headline = webInput.headline || formInput[\"News Article Headline\"] || backlogInput[\"ARTICLE TITLE\"] || \"\";\nconst text = webInput.article_text || formInput[\"Article Text or URL...\"] || backlogInput[\"ARTICLE CONTENT\"] || headline;\n\nreturn { \n  headline, \n  text, \n  row_number: backlogInput.row_number || formInput.row_number\n};"
      },
      "id": "normalizer",
      "name": "Code — Normalizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [2900, 1200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\nJSON.stringify({\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"You are a Fake News Detective. Use your internal knowledge and the trusted source map to give a verdict.\" },\n    { \"role\": \"user\", \"content\": `Article: ${$node[\"Code — Normalizer\"].json.headline}\\nTrusted Sources: ${$items(\"Knowledge Base\").map(i => i.json[\"Source Name\"]).join(', ')}\\nRespond in JSON: {verdict, confidence, reasoning, source_name}` }\n  ],\n  \"response_format\": { \"type\": \"json_object\" }\n})\n}}\n",
        "options": {}
      },
      "id": "groq-ai",
      "name": "Groq — AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3200, 1200]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "158k89DoXZYSQ_prFjqFXZN7KzecqVQ-uWlOSBdvvAto",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Article and Analysis",
          "mode": "list"
        },
        "rowNumber": "={{ $node[\"Code — Normalizer\"].json.row_number }}",
        "dataMode": "mapEachColumn",
        "fieldsUi": {
          "values": [
            { "columnName": "PREDICTED", "fieldValue": "={{ JSON.parse($json.choices[0].message.content).verdict }}" },
            { "columnName": "BAYES CONFIDENCE SCORE (%)", "fieldValue": "={{ JSON.parse($json.choices[0].message.content).confidence }}" },
            { "columnName": "LOGIC RULE VERDICT", "fieldValue": "={{ JSON.parse($json.choices[0].message.content).reasoning }}" }
          ]
        },
        "options": {}
      },
      "id": "update-sheet",
      "name": "Google Sheets — Auto-Fill Result",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [3500, 1200],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "Q0kwnCWrgmL95E2O", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": { "options": {} },
      "id": "respond-web",
      "name": "Respond — Website",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3800, 1000]
    }
  ],
  "connections": {
    "Webhook — Website": { "main": [[{ "node": "Knowledge Base", "type": "main", "index": 0 }]] },
    "Trigger — New Form Submission": { "main": [[{ "node": "Knowledge Base", "type": "main", "index": 0 }]] },
    "Manual — Fetch 100 Backlog Articles": { "main": [[{ "node": "Knowledge Base", "type": "main", "index": 0 }]] },
    "Knowledge Base": { "main": [[{ "node": "Code — Normalizer", "type": "main", "index": 0 }]] },
    "Code — Normalizer": { "main": [[{ "node": "Groq — AI Analysis", "type": "main", "index": 0 }]] },
    "Groq — AI Analysis": { "main": [[{ "node": "Google Sheets — Auto-Fill Result", "type": "main", "index": 0 }]] },
    "Google Sheets — Auto-Fill Result": { "main": [[{ "node": "Respond — Website", "type": "main", "index": 0 }]] }
  }
}